.row{
    pad: 40px;
}
div{
    background-color: #74ddd8;
    text-align: center;
}

/*estilo foto de perfil*/

@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 5%;
        top: 600px;
    }
}
@media (max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 35%;
        top: 950px;
    }
}



/*Etiqueta nombre*/
#idnombre{
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}