<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-2"></div>
<div class="col-lg-10">
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Aliquid possimus assumenda soluta qui? Esse, 
             facere tenetur quis deserunt ab cum qui quod 
             sint autem dolores accusantium soluta consequuntur 
             voluptates dolore.
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Aliquid possimus assumenda soluta qui? Esse, 
             facere tenetur quis deserunt ab cum qui quod 
             sint autem dolores accusantium soluta consequuntur 
             voluptates dolore.
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Aliquid possimus assumenda soluta qui? Esse, 
             facere tenetur quis deserunt ab cum qui quod 
             sint autem dolores accusantium soluta consequuntur 
             voluptates dolore.
        </p>
    </ul>
</div>
</div>
